In [1]:
import pandas as pd

In [12]:
data = pd.read_csv('./data/sample-data.csv', header=None, on_bad_lines='skip')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Ph1 1028 Barclay Street,"$11,988,000","$34,872","$1,579",3,5,Apt/Condo,Built in 2011 (11 yrs old),Freehold Strata,"2 Storey,Penthouse",...,"Dishwasher, In Suite Laundry, Refrigerator, St...",West End,Haneef Virani PREC*,VIRANI REAL ESTATE ADVISORS,Karim Virani,VIRANI REAL ESTATE ADVISORS,11 Days,299,R2731092,REBGV
1,1049 Richards Street,"$1,499,000","$3,945",$676,2,3,Townhouse,Built in 2009 (13 yrs old),Freehold Strata,2 Storey,...,"In Suite Laundry, Microwave, Washer/Dryer/Frid...",Yaletown,Christian Butzek,Oakwyn Realty Downtown Ltd.,22 Days,428,R2728709,REBGV,NaN,NaN
2,4301 1372 Seymour Street,"$4,588,000","$13,695","$1,307",2,4,Apt/Condo,Built in 2013 (9 yrs old),Freehold Strata,"End Unit,Upper Unit",...,In Suite Laundry,Downtown West,Gina Rossi PREC*,Oakwyn Realty Ltd.,Nathalie Barata,Oakwyn Realty Ltd.,7 Days,274,R2732878,REBGV
3,302 5118 Cambie Street,"$2,367,900",$0,$925,3,3,Apt/Condo,Built in 2022 (0 yrs old),Freehold Strata,1 Storey,...,"In Suite Laundry, Microwave, Range Top, Washer...",Cambie,Bryan Velve PREC*,RE/MAX Crest Realty,92 Days,253,R2712600,REBGV,NaN,NaN
4,3205 Kitchener Street,"$2,328,000","$6,939",6,4,House,33 ft x 127 ft (4191 ft²),127,33.00 feet,Built in 2003 (19 yrs old),...,Shopping Nearby,Washer/Dryer/Fridge/Stove/Dishwasher,Renfrew,Wesley Yu PREC*,Sutton Group-West Coast Realty,1 Day,R2733952,REBGV,NaN,NaN

In [19]:
houses = data[data[5] == 'House']
houses.drop(houses.columns[15:], axis=1, inplace=True)
house_columns = [
"address",
"price",
"bedrooms",
"bath",
"lot_size",
"property_age",
"gross_tax",
"area",
"Sub-Area/Community",
"Property_Type",
"title",
"style",
"heating_type",
"Depth",
"frontage"]
houses.columns = house_columns
houses.head()

/var/folders/j0/p00116wn0psgj49p_yw_16980000gn/T/ipykernel_77843/3781574706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  houses.drop(houses.columns[15:], axis=1, inplace=True)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
4,3205 Kitchener Street,"$2,328,000","$6,939",6,4,House,33 ft x 127 ft (4191 ft²),127,33.00 feet,Built in 2003 (19 yrs old),Freehold NonStrata,2 Storey,Radiant,Shopping Nearby,Washer/Dryer/Fridge/Stove/Dishwasher
11,3673 Cambridge Street,"$1,649,900","$5,681",5,2,House,33 ft x 122 ft (4026 ft²),122,33.00 feet,Built in 1934 (88 yrs old),Freehold NonStrata,Rancher/Bungalow w/Bsmt.,"Forced Air,Natural Gas",Garden,"Recreation Nearby, Shopping Nearby, Storage"
13,2186 Franklin Street,"$1,300,000","$5,163",3,2,House,3267 ft²,33.00 feet,Built in 1931 (91 yrs old),Freehold NonStrata,2 Storey,Oil,"Recreation Nearby, Shopping Nearby, Storage",Washer/Dryer/Fridge/Stove/Dishwasher,Hastings

In [ ]:
# Filter Houses Only

In [ ]:
# Convert Price column to integer

In [ ]:
# convert Lot Size to Integer

In [ ]:
# Convert Gross Tax Income to Integer

In [ ]:
# Convert House Age to integer - Consider prebuild houses with age 0